.Popup {
  position: fixed;
  top: 80px;
  right: calc(50vw - 80px);
  background-color: rgb(1, 132, 117);
  z-index: 6;
  border-radius: 12px;
  padding: 8px 16px;
  box-shadow: 0 0 1px black;
}

.popup-text {
  font-size: 1.2rem;
}
