.CardList {
  padding: 0 20px 50px 20px;
}

.card-list {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-x: scroll;
  gap: 20px;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
