.Header {
  width: 100vw;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  position: fixed;
  z-index: 4;
  background-color: transparent;
}
.scrolled-header {
  background-color: rgb(1, 132, 117);
}
.logo-sec {
  width: 60%;
}
.header-logo {
  width: 150px;
}

.header-list {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  list-style-type: none;
  font-weight: bold;
  font-size: 1.3rem;
}
.cart-element-header {
  position: relative;
}
.header-cart-icon {
  font-size: 1.8rem;
  cursor: pointer;
}

.cart-elements-number {
  position: absolute;
  top: -12px;
  right: -20px;
  color: white;
  border-radius: 100%;
  background-color: black;
  padding: 3px 7px;
  font-size: 0.8rem;
  text-align: center;
}

.hamburger-menu {
  font-size: 1.7rem;
  margin-left: 30px;
  cursor: pointer;
}

.li-hidden {
  display: none;
  pointer-events: none;
}

@media screen and (min-width: 800px) {
  .header-list {
    justify-content: space-around;
  }
  .li-hidden {
    display: flex;
    pointer-events: all;
  }
  .hamburger-menu {
    display: none;
    pointer-events: none;
  }
}
